name: Bicep What-If, Create Deploy
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: backend-pool-load-balancing
        type: choice
        options:
          - ai-foundry
          - apim-lab
          - apim-mcp
          - backend-pool-load-balancing

permissions:
  id-token: write
  contents: read
  issues: write

jobs:
  bicep-what-if:
    name: Bicep What-If
    uses: bdleavitt/cloud-playground-infra/.github/workflows/bicep-what-if.yaml@main
    with:
      environment: ${{ inputs.environment }}
    secrets:
      azureClientId: ${{ secrets.AZURE_CLIENT_ID }}
      azureTenantId: ${{ secrets.AZURE_TENANT_ID }}
      azureSubscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  manual-approval:
    name: Manual Approval
    needs: [bicep-what-if]
    runs-on: ubuntu-latest
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: bdleavitt
          minimum-approvals: 1
          issue-title: "Approve deployment to production"
          issue-body: "Please approve or deny the deployment."
          fail-on-denial: true

  bicep-create-deploy:
    name: Bicep Create Deploy
    needs: [manual-approval]
    uses: bdleavitt/cloud-playground-infra/.github/workflows/bicep-create-deploy.yaml@main
    with:
      environment: ${{ inputs.environment }}
    secrets:
      azureClientId: ${{ secrets.AZURE_CLIENT_ID }}
      azureTenantId: ${{ secrets.AZURE_TENANT_ID }}
      azureSubscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
